@charset "utf-8";
/* CSS Document */


body {
  background-color: black;
	font-family: Verdana 

}
h1 {
  color: whitesmoke;
	text-align: center;
	

}
div {
	color: whitesmoke;
  	background-color: lightblue;
	outline-color : white;
	padding: 35px;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
  border: 3px solid green;
}