@charset "utf-8";
/* CSS Document */


body {
font-family: 'Rubik', sans-serif;
background-image: url("squares.avif");
}
h1 {
  color: lightblue;
	text-align: center;
	padding: 0;
	padding-bottom: 0;
	padding-top: 25vh;
	margin-bottom: 0;
  letter-spacing: 1px;
	font-size: 300%;

}
div {
	color: whitesmoke;
	outline-color : white;
	padding: 0;
    text-align: center;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
  border: 3px solid green;
}