body {
  font-family: 'rockwell';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TabButton{
 display: flex;
  width: 4rem;
  text-align: center;
  outline: none;
}

.namePage{
  text-align: center;
  height:100vh;
  box-shadow: 0rem 0.5rem 2rem 0.5rem rgba(0,0,0,0.5);
}

.button{
  background-color:transparent;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  margin-left: 1rem;
  
}
.topHalf{

  display: flex;
  margin: auto;
  width: 13rem;
  
  }


.titleName{
  margin-top: 25vh;
font-size: 7rem;
padding-bottom: 0;
margin-bottom: 0;
}

.majorName{
padding-top: 0;
margin-top: 0;

}

.aboutMeSection{
  margin-top: 0;
  padding-top: 0;
  margin-left: 8rem;
  margin-right: 8rem;
  width: 30rem;
  text-align: center;
  padding-top: 25%;

}
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
